<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alexchiri.alfred2-format-sql-ruby</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>A7E376B3-F572-44A1-95CB-D51581241464</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C1AF34F-6B6C-4C9D-9976-DE7B7CD226F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47B0E7A7-EFB6-4A9C-9468-2EA5F08DCC24</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alexandru Chiritescu</string>
	<key>description</key>
	<string>Formats the SQL copied to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Format SQL</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>formatsql</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Formatting your SQL script...</string>
				<key>script</key>
				<string>LANG=en_US.UTF-8 /usr/bin/ruby ./main.rb {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>If you copied a SQL script to clipboard, it will be formatted</string>
				<key>title</key>
				<string>Format SQL</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A7E376B3-F572-44A1-95CB-D51581241464</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7C1AF34F-6B6C-4C9D-9976-DE7B7CD226F7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>47B0E7A7-EFB6-4A9C-9468-2EA5F08DCC24</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>47B0E7A7-EFB6-4A9C-9468-2EA5F08DCC24</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>7C1AF34F-6B6C-4C9D-9976-DE7B7CD226F7</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>A7E376B3-F572-44A1-95CB-D51581241464</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/alexchiri/format-sql-alfred-workflow</string>
</dict>
</plist>
